<div id="scheduler"></div>
@section Scripts {
    <script>
        $(function () {
            $("#scheduler").kendoScheduler({
                date: new Date(),
                startTime: new Date(),
                height: 600,
                views: [
                    "day",
                    { type: "workWeek", selected: true },
                    "week",
                    "month",
                    "year",
                    "agenda",
                    { type: "timeline", eventHeight: 50 }
                ],
                timezone: "Etc/UTC",
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("GetStudentDobs", "Admin")", // Replace with your actual controller and action
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            id: "id",
                            fields: {
                                id: { from: "id", type: "number" },
                                title: { from: "title", defaultValue: "No title", validation: { required: true } },
                                start: { type: "date", from: "start" },
                                end: { type: "date", from: "end" },
                                isAllDay: { type: "boolean", defaultValue: false }
                            }
                        }
                    }
                }
            });
        });
    </script>
}